header {
	background-color: lightgray;

	ul {
		margin: 0px;
	}
}

.header-image {
	height: 600px;
	width: auto;
}

.navbar, footer {
	background-color: black;

	.nav-item {
		padding: 16px 16px;

		a{
			font-weight: 600;
			text-transform: uppercase;
			font-size: 14px;
			color: white;
			transition: all 0.2s ease-in-out;

		}

		&:hover {
			a {
				color: #dd0000;
			}
		}
	}
}

.navbar-collapse {
	margin: auto;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

