@import "variables";

h1,h2,h3,h4,h5,h6,p,li,a, div {
	font-family: 'Montserrat', sans-serif;
}

h1 {
	font-size: 3.2rem;
}


header {
	a {
		// font-family: 'Orbitron', sans-serif;
	}
	
}

ol {
	margin: 0px;
}

.color-light {
	color: $bodyTextColorLight;
}

.topper {
	font-size: 1.3rem;
	font-weight: 600;
	color: white;
}