$body-bg: white;

$primary: #00a2ff;
$primaryLight: #7ac6df;
$primaryExtraLight: #b5e8f7;
$primaryDark: #343c5e;
$secondary: #5d667a;
$secondaryDark: #1e1f23;
$accentColor: #c32727;;
$accentColorDark: #780202;
$darkBlueBackground: #0f151f;

$bodyTextColor: #1e1f23;
$bodyTextColorLight: #ebebeb;


//$navbar-dark-color:                 
$navbar-dark-hover-color: #b80000;
//$navbar-light-color:                rgba($black, .55);
$navbar-light-hover-color:         #af0000;
