/*
 * Import bootstrap5 the SASS-way
 * See: https://getbootstrap.com/docs/5.0/customize/sass/#importing
 */

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "./bootstrap/scss/functions";

// 2. Variable overrides
//@import "variables";

// 3. Include remainder of required Bootstrap stylesheets
@import "./bootstrap/scss/variables";
@import "./bootstrap/scss/mixins";
@import "./bootstrap/scss/maps";
@import "./bootstrap/scss/utilities";

// 4. Include any optional Bootstrap components as you like
// Sustainability: You can comment out not needed components here
@import "./bootstrap/scss/root";
@import "./bootstrap/scss/reboot";
@import "./bootstrap/scss/type";
@import "./bootstrap/scss/images";
@import "./bootstrap/scss/containers";
@import "./bootstrap/scss/grid";
//@import "./bootstrap/scss/tables";
@import "./bootstrap/scss/forms";
@import "./bootstrap/scss/buttons";
@import "./bootstrap/scss/transitions";
@import "./bootstrap/scss/dropdown";
@import "./bootstrap/scss/button-group";
@import "./bootstrap/scss/nav";
@import "./bootstrap/scss/navbar";
@import "./bootstrap/scss/card";
//@import "./bootstrap/scss/accordion";
@import "./bootstrap/scss/breadcrumb";
// @import "./bootstrap/scss/pagination";
// @import "./bootstrap/scss/badge";
// @import "./bootstrap/scss/alert";
// @import "./bootstrap/scss/progress";
// @import "./bootstrap/scss/list-group";
// @import "./bootstrap/scss/close";
// @import "./bootstrap/scss/toasts";
// @import "./bootstrap/scss/modal";
// @import "./bootstrap/scss/tooltip";
// @import "./bootstrap/scss/popover";
@import "./bootstrap/scss/carousel";
// @import "./bootstrap/scss/spinners";
// @import "./bootstrap/scss/offcanvas";

// Helpers
//@import "./bootstrap/scss/helpers";

// Utilities
@import "./bootstrap/scss/utilities/api";

// 5. Add additional custom code here
@import "typography";
@import "navigation";

body {
	background-color: #0f151f;
}

//==== Buttons =====
.btn,.wpcf7-form-control.wpcf7-submit {
	font-weight: 600;
	text-transform: uppercase;
	padding: 10px 22px;
	border-radius: 2px;
	color: white;
	margin-right: 6px;

	&a:visited{
		color:white;
	}

	a:visited{
		color:white;
	}
}

.btn-secondary {
	color: $accentColor;
}

.btn-primary, .wpcf7-form-control.wpcf7-submit {
    @include button-variant($accentColor, darken($accentColor, 7.5%), white);

}

.btn-outline-primary {
    @include button-outline-variant($accentColor, $accentColor, lighten($accentColor,5%), $accentColor);
}

.btn-secondary {
	// background-color, border color, hover color, ?, hover border color, hover text color
    @include button-variant(white, white, darken(white, 12%), darken(white, 12%), darken(white, 12%), $accentColor);

}

//====== SVGs ======
svg {
	margin-left: 4px;
	padding-bottom: 2px;
}

//====== Colors ======
.bg-darkBlue {
	background-color: #0f151f;
}

//====== Forms ======
input[type=text],input[type=email]{
	//ackground-color: red !important;
	height: 46px;
	border-radius: 1px;
	border-color: rgb(65, 65, 65);

	&:focus{
		border-color: aqua;
	}
}
textarea {
	border-radius: 1px !important;
	border-color: rgb(65, 65, 65);
}
.input:focus {
	outline: none !important;
}
textarea {
	resize: none;
}

// Styles for Contact Form 7
.wpcf7-response-output {
	margin: 1.5rem 0;
}


//====== Subscribe ======

#subscribe {
	border-top: 2px solid $accentColor;
	border-bottom: 2px solid $accentColor;

	button {
		white-space: no-wrap;
		width: 100%;
	}

	form {
		padding-left: 1rem;
		padding-right: 1rem;
	}

	@include media-breakpoint-up(lg){
		form {
			padding-left: 5rem;
			padding-right: 5rem;
		}
	}

	@include media-breakpoint-up(xl){
		form {
			padding-left: 7rem;
			padding-right: 7rem;
		}
	}
}

//======= Pages, Main ======

.page {
	margin: 0 0 0em;
}
.site-main{
	margin-top: -100px;
}
.interior-page-section {
	background-color: $bodyTextColorLight;
}
.interior-page-content {
	background-color: #f3f3f3;
}
.interior-page {
	background-color: #f3f3f3;
	padding-top: 20px;
	color: $bodyTextColorDark;
}


//====== Carousel ======

.carousel-item {
    transition: transform .4s ease-in-out;
}
.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
	transition: opacity 0s .4s;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}
.carousel-control-prev-icon {
	margin-right: 8px;
}
.carousel-control-next-icon{
	margin-left: 8px;
}


//====== Hero =======

#hero {
	padding-top: 200px;

	h1 {
		//color: $primary;
	}
	h2 {
		font-size: 1.7rem;
		font-weight: 400;
	}
	.btn-section {
		margin-bottom: 24px;
	}
}

#int-hero {
	min-height: 300px;
	height: 300px;
	padding-top: 100px;
	color: white;
}

.entry-content.container {
	background-color: #f3f3f3;
	h1,h2,h3,h4,h5,p,div,li,ul{
		color: $bodyTextColorDark;
	}
}

//====== Reviews ======
#reviews {
	padding-top: 6rem;
	padding-bottom: 7rem;

	.reviews-col {
		padding: 1rem 3.4rem;
	}

	@include media-breakpoint-up(md){
		.reviews-col {
			padding: 1rem 8rem;
		}
	}

	h2{
		font-size: 1.4rem;
	}
	
	h3 {
		font-weight: 600;
	}
	.reviewer-name {
		font-weight: 600;
		margin-bottom: 0px;
	} 

	.quotes {
		width: 80px;
		height: auto;
		display: block;
		position: absolute;
		z-index: 1;
		pointer-events: none;
		opacity: 0.1;
	}
	.left-quotes {
		top: 0;
		left: 20;
		margin-left: 20px;
		margin-right: 400px;
		margin-top: 20px;
	}
	.right-quotes {
		bottom: 0;
		right: 0;
		margin-right: 20px;
	}
	@include media-breakpoint-up(lg){
		.quotes{
			width: 100px;
		}
	}
	@include media-breakpoint-up(xl){
		.quotes{
			width: 100px;
		}
		.left-quotes {
			top: 0;
			left: 150;
			margin-left: 250px;
			margin-right: 400px;
			margin-top: 40px;
		}
		.right-quotes {
			bottom: 0;
			right: 0;
			margin-right: 250px;
		}
	}
}

//====== Book Details ======
#book {

	img {
		margin: 0.5rem;
	}

	@include media-breakpoint-up(md){
		img {
			//padding: 5rem;
		}
		.details {
			padding-right: 5rem;
		}
	}

	img {
		border: 1px solid rgba($bodyTextColorLight, .5);
		max-height: 500px;
		width: auto;
	}

	.title {
		padding-top: 1rem;
	}

	@include media-breakpoint-up(sm){
		.details {
			padding-left: 5rem;
			padding-top: 3rem;
		}
	}

	.details {
		padding: 3rem;
		
	}
}

//====== Contact ======
#contact {
	.the-image {
		//background-size: cover;
				// width: 100%;
				// height: 100%;
				// object-fit: contain;

				background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
	object-fit:cover;
    width: 100%;
    height: 80vh;
    overflow: hidden;
	}
	image-col.col-lg-5 {
		max-width: 100%;
		height: 80vh;
		padding: 0 0 0 0;
	}
	@include media-breakpoint-down(lg){
		.the-image{
			height: 50vh;
			max-height: 300px;
		}
	}

	.container-fluid {
		padding: 0 0 0 0;
	}

	.wpcf7-form-control-wrap {
		margin-bottom: 0px;

		input[type=text],input[type=email],textarea {
			margin-bottom: 0.5rem !important;
			margin-right: 0.5rem !important;

			display: block;
			width: 100%;
			padding: 0.375rem 0.75rem;
			font-size: 1rem;
			font-weight: 400;
			line-height: 1.5;
			color: var(--bs-body-color);
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			background-color: var(--bs-body-bg);
			background-clip: padding-box;

			&:focus{
				border-color: aqua;
			}

			.input:focus {
				outline: none !important;
			}
		}
	}

	.wpcf7-form-control.wpcf7-submit {	
		border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
		border-radius: var(--bs-btn-border-radius);
		background-color: var(--bs-btn-bg);
		transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

		&:hover {
			color: var(--bs-btn-hover-color);
			background-color: var(--bs-btn-hover-bg);
			border-color: var(--bs-btn-hover-border-color);
		}
	}
}

//===== About =====
#about {
	img {
		object-fit: cover;
		border-radius: 50%;
		height: 300px;
		width: 300px;
	}

	.about, .name, img, .img-div, .author-description {
		text-align: center;
	}

	@include media-breakpoint-up(lg){
		.about, .name, img, .img-div, .author-description {
			text-align: left;
		}
	}
}

//====== Footer ======
footer {
	font-size: 1rem;
	background-color: black;

	a {
		text-decoration: none;
	}

	.follow {
		font-size: 1rem;
	}

	.nav-link {
		font-size: 1.2rem;
		&:hover {
			color: $accentColor;
		}
	}

	.footer-text-item {
		font-size: 1rem;
		padding: 1rem .3rem;
	}
}

